@media all and (max-width: 600px) {

	#math-quiz-wrapper {
			width: 65%;
	}

	#timer-wrapper {
			width: 35%;
			left: 65%;
	}

	#timer {
  	font-size: x-large;
	}

	#counter-wrapper {
			width: 35%;
			left: 65%;
	}

	#counter {
		font-size: x-large;
	}

	.answer-wrapper {
		width: 210px;
		height: 210px;
		top: calc((100% - 210px)/2);
		left: calc((100% - 210px)/2);
		border: 2px solid black;
		font-size: xx-large;
		box-shadow: 4px 5px 0px white;
	}

	.answer-wrapper:active {
	  box-shadow: 2px 2px 0px white;	
	}

}


@media all and (max-width: 500px) {
	.answer-wrapper {
		width: 120px;
		height: 120px;
		top: calc((100% - 130px)/2);
		left: calc((100% - 130px)/2);
		border: 2px solid black;
		font-size: x-large;
		box-shadow: 4px 5px 0px white;
	}

}

@media all and (max-width: 500px) {
	.answer-wrapper {
		width: 120px;
		height: 120px;
		top: calc((100% - 130px)/2);
		left: calc((100% - 130px)/2);
		border: 2px solid black;
		font-size: x-large;
		box-shadow: 4px 5px 0px white;
	}

}


@media all and (max-height: 650px) {
	#timer {
  	font-size: x-large;
	}

	#timer p {
		padding-bottom: 0;
	}

	#counter {
		font-size: x-large;
	}

	#counter p {
		padding-bottom: 0;
	}

	.answer-wrapper {
		width: 250px;
		height: 250px;
		top: calc((100% - 250px)/2);
		left: calc((100% - 250px)/2);
		border: 2px solid black;
		font-size: xx-large;
		box-shadow: 4px 5px 0px white;
	}

	.answer-wrapper:active {
	  box-shadow: 2px 2px 0px white;	
	}
}

@media all and (max-height: 450px) {
	#math-quiz {
		height: 60%;
		top: 20%;
		font-size: x-large;
	}

	#timer {
  	font-size: large;
	}

	#counter {
		font-size: large;
	}

	.answer-wrapper {
		width: 175px;
		height: 175px;
		top: calc((100% - 175px)/2);
		left: calc((100% - 175px)/2);
		border: 1px solid black;
		font-size: x-large;
	}

}

@media all and (max-height: 350px) {
	#timer {
  	font-size: medium;
	}

	#counter {
		font-size: medium;
	}
}

@media all and (max-height: 300px) {
	#math-quiz {
		height: 80%;
		top: 10%;
		font-size: large;
	}

	#timer p {
  	float: left;
	}

	#counter p {
		float: left;
	}

	.answer-wrapper {
		width: 125px;
		height: 125px;
		top: calc((100% - 125px)/2);
		left: calc((100% - 125px)/2);
	}

}

@media all and (max-height: 200px) {
	#math-quiz p {
  	float: left;
	}

	.answer-wrapper {
		width: 75px;
		height: 75px;
		top: calc((100% - 75px)/2);
		left: calc((100% - 75px)/2);
	}
}
