@font-face {
    font-family: DJB;
    src: url("../fonts/DJB.ttf");
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	background: url("../images/dark-blackboard.png");
	color: white;
	font-family: "DJB";
}

.hidden {
	display: none;
}

.ui-loader {
	display: none;
}

#math-quiz-wrapper {
	position: absolute;
	width: 75%;
	height: 30%;
	top: 0;
	left: 0;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
}

#math-quiz {
	position: absolute;
	width: 80%;
	height: 40%;
	top: 30%;
	left: 10%;
	text-align: center;
	font-size: xx-large;
	font-weight: bolder;
}

#math-quiz p {
	font-size: large;	
	font-weight: lighter;
	padding-bottom: 15px;
}

#timer-wrapper {
	position: absolute;
	width: 25%;
	height: 15%;
	top: 0;
	left: 75%;
	border-bottom: 2px solid white;
}

#timer {
	position: absolute;
	width: 90%;
	height: 60%;
	top: 20%;
	left: 5%;
	text-align: center;
	font-size: xx-large;
}

#timer p {
	padding-bottom: 5px;
}

#counter-wrapper {
	position: absolute;
	width: 25%;
	height: 15%;
	top: 15%;
	left: 75%;
	border-bottom: 2px solid white;
}

#counter {
	position: absolute;
	width: 90%;
	height: 60%;
	top: 20%;
	left: 5%;
	margin: auto;
	text-align: center;
	font-size: xx-large;
}

#counter p {
	padding-bottom: 5px;
}

.area {
	position: absolute;
	width: 50%;
	height: 70%;
	top: 30%;
}

#a-area {
	left: 0;
	border-right: 2px solid white;	
}

#b-area {
	left: 50%;
}


.score-wrapper {
	position: absolute;
	width: 100%;
	height: 30%;
	top: 0;
	left: 0;

}

.score {
	position: absolute;
	width: 80%;
	height: 30%;
	top: 45%;
	left: 10%;
	text-align: center;
	font-size: xx-large;
}

.maintext-wrapper {
	position: absolute;
	width: 100%;
	height: 70%;
	top: 30%;
	left: 0;
}

.maintext {
	position: absolute;
	width: 80%;
	height: 40%;
	top: 20%;
	left: 10%;
	text-align: center;
	font-size: 4em;
	font-weight: bolder;
}



.answer-wrapper {
	position: absolute;
	width: 350px;
	height: 350px;
	top: calc((100% - 350px)/2);
	left: calc((100% - 350px)/2);
	text-align: center;
	font-size: xx-large;
	font-weight: bolder;
	border: 2px solid black;
	border-radius: 200px;
	box-shadow: 4px 10px 0px white;
	background: red;
}

.answer-wrapper:active {
	-webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
  box-shadow: 2px 5px 0px white;	
}

.answer {
	position: absolute;
	height: 20%;
	width: 80%;
	top: 40%;
	left: 10%;
}